<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key><string>com.myunsyeya.caddy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/myunsyeya/.local/bin/caddy</string>
		<string>run</string>
		<string>--config</string><string>/Users/myunsyeya/.config/caddy/Caddyfile</string>
		<string>--adapter</string><string>caddyfile</string>
	</array>
	<key>RunAtLoad</key><true/>
	<key>KeepAlive</key><true/>
	<key>StandardOutPath</key><string>/Users/myunsyeya/Library/Logs/caddy/caddy.log</string>
	<key>StandardErrorPath</key><string>/Users/myunsyeya/Library/Logs/caddy/caddy.log</string>
</dict>
</plist>
